.header {
    background-color: rgb(50, 50, 50);
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
    }

ul.navLinks {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    }
li.navItem:hover{
    text-decoration: underline;
    }

.titleLink {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    }